* [JDK 5][jdk5] or [JDK 6][jdk6] (JDK 7 can be used [with some caveats][ide-java7]).

* Eclipse, including the JDT ("Eclipse Classic" is sufficient). Read [here][eclipse-package-to-use] if you have questions about the supported Eclipse packages.
	
	* Both [Eclipse 3.6 (Helios)][eclipse-helios] and [Eclipse 3.7 (Indigo)][eclipse-indigo] are supported.
	
[jdk5]: http://www.oracle.com/technetwork/java/javasebusiness/downloads/java-archive-downloads-javase5-419410.html
[jdk6]: http://www.oracle.com/technetwork/java/javasebusiness/downloads/java-archive-downloads-javase6-419409.html
[ide-java7]: /blog/java-7.html
[eclipse-package-to-use]: http://scala-ide.org/docs/user/faq.html#What_Eclipse_package_should_I_use_
[eclipse-helios]: http://www.eclipse.org/downloads/packages/release/helios/sr2
[eclipse-indigo]: http://www.eclipse.org/downloads/packages/release/indigo/sr2