* [JDK 8][jdk8].
* Eclipse 4.7. Read [here][eclipse-package-to-use] if you have questions about the supported Eclipse packages.

[jdk8]: http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html
[eclipse-package-to-use]: http://scala-ide.org/docs/current-user-doc/faq/index.html#what-eclipse-package-should-i-use
