---
layout: default
---

{% include headertop.txt %}
<style type="text/css">
  a.featureLink { font-size:18px; font-weight: bold; color: #404040;text-shadow:0 1px 0 rgba(255,255,255, 0.5);}
  a.featureLink:hover { text-decoration:none;}
</style>
<style type="text/css">

	.slider div.release-title h2 {
	    animation: bouncing-color 1.7s 0.5s ease;
	    -moz-animation: bouncing-color 1.7s 0.5s ease;
	    -webkit-animation: bouncing-color 1.7s 0.5s ease;
	    animation-iteration-count: 2;
        -moz-animation-iteration-count: 2;
        -webkit-animation-iteration-count: 2;
	}

	@keyframes bouncing-color {
		0% {
			transform: scale(1, 1);
			color: white;
		}
		50% {
			transform: scale(1.4, 1.4);
			color: #ADFF2F;
		}
		100% {
			transform: scale(1, 1);
			color: white;
		}
	}

	@-moz-keyframes bouncing-color {
		0% {
			-moz-transform: scale(1, 1);
			color: white;
		}
		50% {
			-moz-transform: scale(1.4, 1.4);
			color: #ADFF2F;
		}
		100% {
			-moz-transform: scale(1, 1);
			color: white;
		}
	}

	@-webkit-keyframes bouncing-color {
		0% {
			-webkit-transform: scale(1, 1);
			color: white;
		}
		50% {
			-webkit-transform: scale(1.4, 1.4);
			color: #ADFF2F;
		}
		100% {
			-webkit-transform: scale(1, 1);
			color: white;
		}
	}
</style>

{% include headerbottom.txt %}
{% include topbar.txt %}
{% include frontpage.txt %}
{% include footer.txt %}
